@model Producto
@{
    ViewData["Title"] = "Productos";
    ViewData["SubTitle"] = "Detalle";
    bool soloUsuario = ViewBag.SoloUsuario ?? false;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" title="Regresar al listado" asp-controller= "Comprar"  asp-action="Index">Listado</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<h2 class="text-center mb-3">@ViewData["Title"] <small class="text-muted fs-5">@ViewData["SubTitle"]</small></h2>

<partial name="_CardPartial" model="Model" />

@if (soloUsuario)
{
    <form asp-controller="Carrito" asp-action="Agregar" method="post" class="text-center mt-3">
        <input type="hidden" name="IdProducto" value="@Model.ProductoId" />
        <div class="mb-5 d-flex justify-content-center align-items-center gap-2">
            <label for="cantidad" class="form-label mb-0">Cantidad:</label>
            <input type="number" id="cantidad" name="Cantidad" class="form-control form-control-sm w-auto" value="1" min="1" required />
        </div>
        <button type="submit" class="btn btn-sm btn-primary me-2">Agregar al carrito</button>
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Comprar" asp-action="Index">Cancelar</a>
    </form>
}
else
{
    <div class="text-center mt-3">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
    </div>
}